imap jk <Esc>
let mapleader=" "

set surround

set commentary

set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

let g:EasyMotion_do_mapping = 0
set easymotion
map <leader><leader> <Plug>(easymotion-s)

set highlightedyank
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

set ReplaceWithRegister
nmap rs  <Plug>ReplaceWithRegisterOperator
nmap rss <Plug>ReplaceWithRegisterLine
vmap rs  <Plug>ReplaceWithRegisterVisual

set idearefactormode=keep

set noerrorbells
set visualbell
set encoding=utf-8
set nobackup
set noswapfile
set mouse=a
set scrolloff=5
set incsearch
set ignorecase
set smartcase
set hlsearch
set showmode
set laststatus=2
set number
set relativenumber
set clipboard+=unnamed
set history=100000

nmap Q :wq<CR>
nmap H ^
nmap L $
nmap Y y$
nmap <ESC> :noh<CR>
nmap <CR> o<Esc>
nmap gh :action QuickJavaDoc<CR>

nmap `` <Action>(ActivateTerminalToolWindow)

nmap <leader>r :action RenameElement<CR>
nmap <leader>h :action PreviousTab<CR>
nmap <leader>l :action NextTab<CR>
nmap <leader>d <C-d>
nmap <leader>u <C-u>

nmap sh <C-W>h
nmap sl <C-W>l
nmap sj <C-W>j
nmap sk <C-W>k
nmap ss <C-W>s
nmap sv <C-W>v

nmap ,r :action Run<CR>
nmap ,rc :action RunClass<CR>
nmap ,d :action Debug<CR>
nmap ,dc :action DebugClass<CR>
nmap ,c :action Stop<CR>

let g:WhichKeyDesc_Translate = "<leader>t Translate"
nmap <leader>t <action>($EditorTranslateAction)
vmap <leader>t <action>($EditorTranslateAction)

sethandler <C-A> a:ide
sethandler <C-C> a:ide
sethandler <C-V> a:ide
sethandler <C-X> a:ide
sethandler <C-F> a:ide
sethandler <C-Y> a:ide
sethandler <C-D> a:ide
sethandler <C-S> a:ide
sethandler <C-B> a:ide
sethandler <C-P> a:ide
sethandler <C-O> a:ide
sethandler <C-E> a:ide
sethandler <C-N> a:vim